EmployesTableApp/Web References/RefServiceTSE/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://ec2-13-58-26-239.us-east-2.compute.amazonaws.com/ServiceTSE/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://ec2-13-58-26-239.us-east-2.compute.amazonaws.com/ServiceTSE/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://ec2-13-58-26-239.us-east-2.compute.amazonaws.com/ServiceTSE/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiceTSE" />
      <xsd:import schemaLocation="http://ec2-13-58-26-239.us-east-2.compute.amazonaws.com/ServiceTSE/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Domain" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getFlightArrivals_InputMessage">
    <wsdl:part name="parameters" element="tns:getFlightArrivals" />
  </wsdl:message>
  <wsdl:message name="IService1_getFlightArrivals_OutputMessage">
    <wsdl:part name="parameters" element="tns:getFlightArrivalsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getFlightOrdersArrivals_InputMessage">
    <wsdl:part name="parameters" element="tns:getFlightOrdersArrivals" />
  </wsdl:message>
  <wsdl:message name="IService1_getFlightOrdersArrivals_OutputMessage">
    <wsdl:part name="parameters" element="tns:getFlightOrdersArrivalsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_updateOrdersArrivalFlights_InputMessage">
    <wsdl:part name="parameters" element="tns:updateOrdersArrivalFlights" />
  </wsdl:message>
  <wsdl:message name="IService1_updateOrdersArrivalFlights_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateOrdersArrivalFlightsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_kosytOrdersArrivalFlights_InputMessage">
    <wsdl:part name="parameters" element="tns:kosytOrdersArrivalFlights" />
  </wsdl:message>
  <wsdl:message name="IService1_kosytOrdersArrivalFlights_OutputMessage">
    <wsdl:part name="parameters" element="tns:kosytOrdersArrivalFlightsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_owiryOrdersArrivalFlights_InputMessage">
    <wsdl:part name="parameters" element="tns:owiryOrdersArrivalFlights" />
  </wsdl:message>
  <wsdl:message name="IService1_owiryOrdersArrivalFlights_OutputMessage">
    <wsdl:part name="parameters" element="tns:owiryOrdersArrivalFlightsResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getFlightArrivals">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getFlightArrivals" message="tns:IService1_getFlightArrivals_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getFlightArrivalsResponse" message="tns:IService1_getFlightArrivals_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getFlightOrdersArrivals">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getFlightOrdersArrivals" message="tns:IService1_getFlightOrdersArrivals_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getFlightOrdersArrivalsResponse" message="tns:IService1_getFlightOrdersArrivals_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateOrdersArrivalFlights">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/updateOrdersArrivalFlights" message="tns:IService1_updateOrdersArrivalFlights_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/updateOrdersArrivalFlightsResponse" message="tns:IService1_updateOrdersArrivalFlights_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="kosytOrdersArrivalFlights">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/kosytOrdersArrivalFlights" message="tns:IService1_kosytOrdersArrivalFlights_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/kosytOrdersArrivalFlightsResponse" message="tns:IService1_kosytOrdersArrivalFlights_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="owiryOrdersArrivalFlights">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/owiryOrdersArrivalFlights" message="tns:IService1_owiryOrdersArrivalFlights_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/owiryOrdersArrivalFlightsResponse" message="tns:IService1_owiryOrdersArrivalFlights_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFlightArrivals">
      <soap:operation soapAction="http://tempuri.org/IService1/getFlightArrivals" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFlightOrdersArrivals">
      <soap:operation soapAction="http://tempuri.org/IService1/getFlightOrdersArrivals" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateOrdersArrivalFlights">
      <soap:operation soapAction="http://tempuri.org/IService1/updateOrdersArrivalFlights" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="kosytOrdersArrivalFlights">
      <soap:operation soapAction="http://tempuri.org/IService1/kosytOrdersArrivalFlights" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="owiryOrdersArrivalFlights">
      <soap:operation soapAction="http://tempuri.org/IService1/owiryOrdersArrivalFlights" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://ec2-13-58-26-239.us-east-2.compute.amazonaws.com/ServiceTSE/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>